.body{
  background-color: rgb(245,185,39);
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(44,38,38);
  color: white;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(73,29,244);
  color: #fff;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(73,29,244);
  color: #fff;
  cursor: pointer;
}

.task button:hover {
  background-color: #d4ad2f;
}

.task.completed {
  opacity: 0.5;
}
