.container{
  
  width: 75%;
  background-color: bisque;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  width: 100%;
}

.list{
  display: flex;
  gap: 20px;
 padding: 2px;
  border: 1px solid white;
  display: flex;
  justify-content: center;

}